<% param_prefix = "payment_source[#{payment_method.id}]" %>

<p>
  <%= Spree.t(:please_make_your_payment_by_using_bank_transfer_to_one_of_pe_following_banks) %>.
</p>
<p>
  <%= Spree.t(:please_continue_to_pe_payment_confirmation_page_once_you_have_made_your_payment) %>.
</p>
<p>
  <%= Spree.t(:make_sure_you_include_your_order_number_in_pe_reference_field) %>.
</p>
<br>



    <% @bank_accounts.each do |bank_account| %>
      <p><%= Spree.t(:account_owner) %></p>
      <br>
      <p><%= bank_account.account_owner %></p>
      <br>      
      <p><%= Spree.t(:bank_name) %></p>
      <br>
      <p><%= bank_account.bank_name %></p>
      <br>
      <p><%= Spree.t(:account_number) %></p>
      <br>
      <p><%= bank_account.account_number %></p>
      <br>
      <p><%= Spree.t(:bank_branch) %></p>
      <br>
      <p><%= bank_account.bank_branch %></p>
      <br>
      <p>Wire #</p>
      <br>
      <p><%= bank_account.wire_number %></p>
      <br>
      <p>SWIFT</p>
      <br>
      <p><%= bank_account.swift_number %></p>
      <br>
      <p>Reference</p>
      <br>
      <p><%= @order.number %></p>
      <br>

    <% end %>

</table>
